* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}