.footer {
    width: 100%;
    text-align: center;
    background: radial-gradient(circle at 20% 20%, #0b171f, #050a0b);
    color: #ffffff;
    position: fixed;
    bottom: 0;
}

.footer p {
    font-size: 1rem;
    animation: textGlow 1s infinite alternate;
}

.footer a {
    color: #63f3fd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ffea9c;
}