




/* Media query for screens up to 768px (includes 320px) -------------------------MOBILE*/


@media (max-width: 768px) {
  
  .App {
    /* Adjust styles for this screen size range */
    text-align: center;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    color: #ffffff;
  }

  .undo-button, .redo-button, .trash-button {
    background-color: #c3c2c2; /* Button background color */
    color: #333; /* Button text color */
    font-size: 1.2rem; /* Font size */
    font-weight: bold;
    border: 1px solid #494949; /* Border */
    border-radius: 4px; /* Border radius */
    padding: 0.5rem 0.5rem; /* Padding */
    margin-right: 1rem; /* Optional: Adjust spacing between buttons */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition for background color and transform */
  }
  
  .undo-button:hover, .redo-button:hover, .trash-button:hover {
    background-color: wheat;
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .undo-button:active, .redo-button:active, .trash-button:active {
    background-color: #f4a3ff; /* Active background color */
    transform: scale(0.9); /* Scale down effect on click */
  }

  .trash-button {
    font-size: 17px;
    
  }
  
  

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #00f5a0;
  }

  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
  }

 

  input[type="text"] {
    padding: 1rem 1rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #00f5a0;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    
    background-color: #1c1c1c;
    color: #ffffff;
    transition: border-color 0.3s;
  }

  input[type="text"]:focus {
    border-color: #00ffcc;
  }

  button {
    width: 75px;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #00f5a0;
    color: #000;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #2ad8ff;
  }

  button:active {
    transform: scale(0.9); /* Scale down effect on click */
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Display items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    
}


  li {
    background-color: #1c1c1c;
    font-size: 15px;
    border: 1px solid #00f5a0;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 96%; /* Adjusted width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #ffffff; /* Text color set to white */
    cursor: pointer; /* Make li clickable */
    margin-bottom: 0.3rem;
  }
  

  li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  li.completed {
    text-decoration: line-through;
    color: #6c757d;
  }

  li span {
    flex: 1;
    cursor: pointer;
  }

  li button {
    list-style-type: unset;
    font-size: 7px;
    width: 25px;
    height: 20px;
    background-color: #fdcace;
    margin-right: 3px;
    transition: background-color 0.3s;
  }

  li button:first-of-type {
    background-color: #f7e3bd;
  }

  li button:hover {
    background-color: #2ad8ff;
  }

  li button:first-of-type:hover {
    background-color: #2ad8ff;
  }

  .checkbox-container {
    padding: 0rem;
    display: flex;
    align-items: center;
  }

  .checkbox {
    width: 20px;
    height: 20px;
    padding: 1rem;
    margin-right: 0.5rem;
  }

}

/* Media query for screens from 769px to 1200px -----------------------------------------   LAPTOP */
@media (min-width: 769px) and (max-width: 19000px) {

  .App {
    /* Adjust styles for this screen size range */
    text-align: center;
    padding: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
    color: #ffffff;
  }


  .undo-button, .redo-button, .trash-button {
    background-color: #c3c2c2; /* Button background color */
    color: #333; /* Button text color */
    font-size: 1.2rem; /* Font size */
    font-weight: bold;
    border: 1px solid #494949; /* Border */
    border-radius: 4px; /* Border radius */
    padding: 0.5rem 0.5rem; /* Padding */
    margin-right: 1rem; /* Optional: Adjust spacing between buttons */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition for background color and transform */
  }
  
  .undo-button:hover, .redo-button:hover, .trash-button:hover {
    background-color: wheat;
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .undo-button:active, .redo-button:active, .trash-button:active {
    background-color: #f4a3ff; /* Active background color */
    transform: scale(0.9); /* Scale down effect on click */
  }
  
  .trash-button {
    font-size: 17px;
    
  }
  
  
  

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #00f5a0;
  }

  .input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  input[type="text"] {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #00f5a0;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    width: 80%;
    max-width: 20rem;
    background-color: #1c1c1c;
    color: #ffffff;
    transition: border-color 0.3s;
  }

  input[type="text"]:focus {
    border-color: #00ffcc;
  }

  button {
    width: 5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: #00f5a0;
    color: #000;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #2ad8ff;
  }

  button:active {
    transform: scale(0.9); /* Scale down effect on click */
  }


  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Display items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    
}


  li {
    background-color: #1c1c1c;
    font-size: 15px;
    border: 1px solid #00f5a0;
    border-radius: 0.25rem;
    padding: 0.8rem;
    width: 26rem; /* Adjusted width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    color: #ffffff; /* Text color set to white */
    cursor: pointer; /* Make li clickable */
    margin-bottom: 0.3rem;
  }
  

  li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  li.completed {
    text-decoration: line-through;
    color: #6c757d;
  }

  li span {
    flex: 1;
    cursor: pointer;
  }

  li button {
    list-style-type: unset;
    font-size: 7px;
    width: 35px;
    height: 30px;
    background-color: #fdcace;
    margin-right: 3px;
    transition: background-color 0.3s;
  }

  li button:first-of-type {
    background-color: #f7e3bd;
  }

  li button:hover {
    background-color: #2ad8ff;
  }

  li button:first-of-type:hover {
    background-color: #2ad8ff;
  }

  .checkbox-container {
    padding: 0rem;
    display: flex;
    align-items: center;
  }

  .checkbox {
    width: 30px;
    height: 30px;
    padding: 1rem;
    margin-right: 0.5rem;
  }

}

.footer {
  text-align: center;
  padding: 1rem;
  background: linear-gradient(135deg, #203a43, #2c5364);
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: backgroundAnimation 10s infinite alternate;
}

.footer p {
  margin: 0;
  font-size: 1rem;
  font-family: 'Orbitron', sans-serif; /* Add a futuristic font family */
  animation: textGlow 1s infinite alternate;
}

.footer a {
  color: #63f3fd;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer a:hover {
  color: #ffea9c;
  transform: scale(1.5);
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



